<mat-grid-list cols="5" rowHeight="350px" gutterSize="10px">
  <mat-grid-tile *ngFor="let subscription of staticSubscriptions">
    <mat-card class="subscription-card">
      <mat-card-header>
        <mat-card-title>{{subscription.provider.name}}</mat-card-title>
        <mat-card-subtitle>Status: {{subscription.status}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Price: {{subscription.paymentCost}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="changeStatus(subscription.id)">
          {{subscription.status === 'ACTIVE' ? 'Deactivate' : 'Activate'}}
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
