<table mat-table [dataSource]="subscriptions">
    <!-- Name Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{element.provider.name}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{element.status}}</td>
    </ng-container>

    <!-- Payment cost Column -->
    <ng-container matColumnDef="paymentCost">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{element.paymentCost}}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="Switch-Status">
        <th mat-header-cell *matHeaderCellDef>Switch Status</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="changeStatus(element.id)">
            {{element.status === 'ACTIVE' ? 'Deactivate' : 'Activate'}}
          </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
</table>
