<mat-grid-list cols="3" >
  <mat-grid-tile colspan="2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pie Chart: Spendings By Provider</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-pie-chart
                              [view]="view"
                              [scheme]="colorScheme"
                              [results]="pieChartData"
                              [legend]="showLegend"
                              [labels]="showLabels"
                              [explodeSlices]="explodeSlices"
                              [doughnut]="doughnut">
        </ngx-charts-pie-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" >
    <mat-card class="spending">
      <mat-card-header>
        <mat-card-title>Total Spendings</mat-card-title>
      </mat-card-header>
      <mat-card-content class="amount">
        {{totalSpendings | currency}}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Bar Chart: Spendings In The Last 12 months</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ngx-charts-bar-vertical
                                 [view]="barChartView"
                                 [scheme]="colorScheme"
                                 [results]="barChartData"
                                 [legend]="true"
                                 [xAxis]="showXAxis"
                                 [yAxis]="showYAxis"
                                 [showXAxisLabel]="showXAxisLabel"
                                 [showYAxisLabel]="showYAxisLabel"
                                 [xAxisLabel]="xAxisLabel"
                                 [yAxisLabel]="yAxisLabel"
                                 [barPadding]="barPadding"
        >
        </ngx-charts-bar-vertical>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
