.providers-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
  justify-content: space-between;
}

.provider-card {
  flex: 0 0 calc(20% - 20px); /* Each card takes up approximately one fifth of the row, minus the gap */
  max-width: calc(20% - 20px); /* Set a maximum width to match flex-basis */
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0; /* Adjusted margin to align items */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.provider-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.add-button {
  margin-top: 10px;
  background-color: #3f51b5;
  color: white;
}

.add-button:hover {
  background-color: #303f9f;
}
